# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Log files
*.log

# Mac & Windows OS files
.DS_Store
Thumbs.db

# Compiled or temporary files
*.sqlite3
*.db
*.bak
*.swp

# Uvicorn reload artifacts
*.pid
